@model volvo.Models.Caminhao

@{
    ViewData["Title"] = "Create";
}
<h2>Create</h2>

<h4>Caminhao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ModeloId" class="control-label"></label>
                <select asp-for="ModeloId" class="form-control">
                    <option value="" selected="selected" disabled hidden>Selecione o Modelo</option>
                    <option value="1">FH</option>
                    <option value="2">FM</option>
                </select>
                <span asp-validation-for="ModeloId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnoFabricacao" class="control-label"></label>
                <input asp-for="AnoFabricacao" class="form-control" value="@ViewBag.anoAtual" disabled />
                <span asp-validation-for="AnoFabricacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnoModelo" class="control-label"></label>
                <select asp-for="AnoModelo" class="form-control"
                        asp-items="@(new SelectList(ViewBag.anoModelo,"Value","Text"))">
                    <option value="" selected="selected" disabled hidden>Selecione o ano do Modelo</option>
                </select>
                <span asp-validation-for="AnoModelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}